p{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}
body{
  margin: 0;
  padding-top: 80px;
  padding-left: 80px;
}
.video-time{
  background-color: black;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 4px;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  border-radius: 2px;
}