p{
  font-family: Roboto, Arial;
}
.search-bar{
  display: block;
}
.video-preview{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
.thumbnail{
  width: 300px;
  display: block;
}
.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.channel-picture{
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.video-info{
  display: inline-block;
  width: 200px;
}
.profile-picture{
  width: 40px;
  border-radius: 50px;
}
.thumbnail-row{
  margin-bottom: 10px;
}